[www]
user = {{runtime_phpfpm_user[ansible_os_family][runtime_name]}}
group = {{runtime_phpfpm_user[ansible_os_family][runtime_name]}}
listen = /run/php-fpm.sock
listen.owner = {{runtime_phpfpm_user[ansible_os_family][runtime_name]}}
listen.group = {{runtime_phpfpm_user[ansible_os_family][runtime_name]}}
listen.mode = 0660
pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35
php_admin_flag[log_errors] = on
php_value[session.save_handler] = files
php_value[session.save_path]    = /tmp
php_value[soap.wsdl_cache_dir]  = /tmp
